@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600&display=swap");
body {
  width: 100%;
  font-family: 'Barlow', sans-serif; }

.splash {
  background: url(../images/splash.png) no-repeat center top;
  display: inline-block;
  background-size: cover;
  height: 100vh;
  width: 100%; }
  .splash .bg img {
    width: 100%;
    height: 100vh;
    display: inline-block; }

.logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; }
  .logo a {
    width: 100%;
    align-content: center;
    text-align: center;
    justify-content: space-between;
    display: inline-block;
    padding-top: 19%; }
  .logo img {
    width: 690px; }

.container {
  max-width: 1460px; }

img {
  max-width: 100%; }

.content-interface {
  margin-top: 34%;
  text-align: center;
  display: inline-block;
  width: 100%;
  transform: translateY(-50%); }

.footer-page-interface {
  position: fixed;
  right: 60px;
  bottom: 26px; }
  .footer-page-interface img.footer-logo {
    height: 50px;
    margin-left: 60px; }
  .footer-page-interface img.skinpack-img {
    width: 127px; }

.leap-1a-bg {
  display: inline-block;
  height: 100vh;
  width: 100%; }

.leap-1a-bg a img {
  width: 100%;
  display: inline-block;
  height: 100%; }
.leap-1a-bg img {
  width: 100%;
  display: inline-block;
  height: 100%; }

.content-leap-tab {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  text-align: center; }
  .content-leap-tab .content-tab {
    width: 1150px;
    position: relative;
    height: 100vh;
    margin: auto; }
    .content-leap-tab .content-tab .title-tab {
      position: absolute;
      z-index: 9;
      bottom: 30px;
      left: 0;
      text-align: center;
      width: 100%;
      border: 0 !important; }
    .content-leap-tab .content-tab ul {
      max-width: 520px;
      display: flex;
      margin: auto;
      border: 0;
      justify-content: space-between; }
      .content-leap-tab .content-tab ul li a {
        background: none;
        padding: 5px !important;
        border: 0 !important; }
        .content-leap-tab .content-tab ul li a img {
          height: 40px; }
        .content-leap-tab .content-tab ul li a span {
          color: white;
          font-size: 33px; }
        .content-leap-tab .content-tab ul li a img {
          opacity: .4; }
        .content-leap-tab .content-tab ul li a.active {
          background: none !important;
          border: 0 !important; }
          .content-leap-tab .content-tab ul li a.active img {
            opacity: 1; }

.img-content-tab {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  display: flex;
  align-content: center;
  align-items: center; }
  .img-content-tab img {
    width: 100%;
    height: initial !important; }
  .img-content-tab span {
    position: absolute;
    bottom: 100px;
    font-size: 33px;
    color: white;
    display: inline-block;
    width: 100%; }

.logo-main {
  position: fixed;
  bottom: 29px;
  width: 267px;
  right: 40px;
  height: 76px;
  opacity: .4; }

.leap-1a-link {
  position: fixed;
  top: 29px;
  width: 217px;
  left: 40px;
  height: 76px;
  opacity: .4; }

.leap-1a-link-sm31 {
  position: fixed;
  top: 29px;
  width: 137px;
  left: 277px;
  height: 76px;
  opacity: .4; }

/*# sourceMappingURL=style.css.map */
